:root {
    --color-700: #F57C00;
    --color-800: #EF6C00;
    --color-900: #E65100;
    --color-alt-700: #FF6D00;
    --color-text-100: #222;
    --color-text-200: #fff;
}

/* main nav */
.umb-app-header {
    background-color: var(--color-800);
}

ul.sections>li.current>a {
    color: var(--color-text-200);
}
ul.sections>li>a {
    color: #000;
}

ul.sections>li>a:after {
    background-color: var(--color-alt-700);
}

