<div ng-controller="backofficeThemeUserDashboardController as vm">
    
    <div ng-if="vm.mode =='show'" class="flex justify-between">
        <div class="current-theme flx-b5">
            <h4>Current : {{vm.theme.name}}</h4>
            <img src="{{vm.theme.image}}" />
            <p class="mt2">{{vm.theme.description}}</p>
        </div>
        <div class="flx-b5 flex justify-center items-center content-center">
            <div>
                <div>
                    <umb-button action="vm.pickTheme()"
                                label="Change Theme"
                                button-style="action block"
                                type="button"></umb-button>
                </div>
                <div class="mt2">
                    <umb-button action="vm.reset()"
                                label="Reset"
                                button-style="info block"
                                type="button"></umb-button>
                </div>
            </div>

        </div>
    </div>

    <div ng-if="vm.mode == 'pick'">
        <div class="bo-theme-list-view">
            <umb-box ng-repeat="theme in vm.themes" class="bo-theme-box">
                <umb-box-header title="{{theme.name}}">
                    <em>{{theme.alias}}</em>
                    <strong ng-if="vm.theme.alias === theme.alias">(Current)</strong>
                </umb-box-header>
                <umb-box-content>
                    <div>
                        {{theme.description}}
                    </div>
                    <img class="theme-image" ng-src="{{theme.image}}" />
                </umb-box-content>
                <umb-box-content>
                    <div class="text-right">
                        <button ng-if="vm.theme.alias !== theme.alias" ng-click="vm.apply(theme.alias)" class="btn btn-success">Apply</button>
                    </div>
                </umb-box-content>
            </umb-box>
        </div>
    </div>
</div>